[2019-01-07 17:49] gnufied opened #2 "Setup e2e infrastructure for external resizer"

[2019-01-07 17:49] gnufied opened #3 "Ensure resizer can be configured with a timeout value"

[2019-01-07 17:50] gnufied opened #4 "Ensure resizer handles double processing of PVCs without problems."
xref - https://github.com/kubernetes/kubernetes/pull/71611

[2019-01-07 17:53] gnufied opened #5 "Add unit test for external resize controller"
We need some basic unit tests and sanity checks for controller.

[2019-01-08 08:42] mlmhl commented on #4
/assign

[2019-01-08 12:33] mlmhl commented on #4
It seems that the race condition mentioned in https://github.com/kubernetes/kubernetes/issues/71470#issuecomment-442248513 does not exist in external-resizer. The in-tree expand controller uses a custom [sync mechanism](https://github.com/kubernetes/kubernetes/blob/10bb353a95c53831b9131e8c4cc539c87f34a0d6/pkg/controller/volume/expand/pvc_populator.go#L84) to resync pvcs, which is the root of the p

[2019-01-09 20:34] gnufied commented on #4
Yeah I agree, I think we do need a resourceVersion check added in https://github.com/kubernetes/kubernetes/pull/71611 to external resizer as well.

[2019-02-06 21:10] gnufied opened #9 "Add resizing support in csi-mock driver"
- [x] Add general resize support
- [x] Add configurable support for node expansion
- [x] Add configurable support for controller expansion
- [ ] Add configuration support for online/offline expansion

[2019-02-06 23:15] gnufied commented on #9
Fixed once https://github.com/kubernetes-csi/external-resizer/issues/9 merges

[2019-02-19 17:34] gnufied opened #10 "Add support for NodeExpand"
This is done as a part of xref - https://github.com/kubernetes/enhancements/pull/780

[2019-02-27 17:02] gnufied opened #11 "Use connection code from csi-utils library"
xref https://github.com/kubernetes-csi/external-resizer/pull/7

[2019-02-27 17:03] gnufied opened #12 "Look into unifying contexts and timeouts"
Xref https://github.com/kubernetes-csi/external-resizer/pull/7

[2019-02-27 18:10] gnufied opened #13 "Provider example YAMLs for deploying external-resizer"

[2019-02-27 18:10] gnufied opened #14 "Release external-resizer alpha image"

[2019-02-27 18:31] gnufied commented on #9
@jarrpa is working on making online/offline support configurable.

[2019-02-27 18:31] gnufied commented on #9
/assign @jarrpa

[2019-02-28 02:05] gnufied commented on #10
I am working on this in main k/k repo. I added this here so as we can track this in Resizing board

/assign

[2019-02-28 03:11] mlmhl commented on #11
I will fix this after csi-utils lib updated.
/assign

[2019-02-28 08:48] mlmhl commented on #3
I think this issue is fixed as we have already merged the CSI implement: https://github.com/kubernetes-csi/external-resizer/pull/7

[2019-03-01 09:04] mlmhl commented on #3
/assign

[2019-03-01 20:33] gnufied commented on #13
@mlmhl can you create necessary rbac rules etc that the external controller is going to depend on for deploying external resizer in a pod?

[2019-03-02 02:16] mlmhl commented on #13
@gnufied Yeah, of cause! I will submit a PR later.
/assign

[2019-03-04 16:49] gnufied opened #19 "Create image repository for publishing external resizer"
It should be called "csi-resizer", so as to be consistent with other components.

/assign @msau42

[2019-03-04 19:41] #13 closed

[2019-03-04 22:29] msau42 commented on #19
Created and enabled travis csi
/close

[2019-03-04 22:29] #19 closed

[2019-03-05 20:20] #9 closed

[2019-03-05 20:21] #11 closed

[2019-03-05 20:21] gnufied commented on #11
Fixed by https://github.com/kubernetes-csi/external-resizer/pull/15

@mlmhl ^ PR addresses this. Let me know if I was wrong in closing this issue.

[2019-03-05 20:22] gnufied commented on #2
At least for now, this is fixed by https://github.com/kubernetes/kubernetes/pull/74863

we may have to add real drivers soon to the work though.

[2019-03-05 20:22] gnufied commented on #2
/assign

[2019-03-05 20:22] gnufied commented on #5
@jarrpa is looking into this.

[2019-03-05 22:26] gnufied opened #21 "release-tools fails on verifying subtree changes"
@pohly looks like when we re-merged release-tools it broke the tooling needed for `./verify-subtree.sh` and it finds "unmerged" commits and hence build is broken.

[2019-03-06 02:21] mlmhl commented on #11
The PR lgtm except a little nit: My initial idea was to put all the code that interacts with the CSI driver in `pkg/client`, and the resizer only uses the `Client` interface to interact with the driver. But now the CSI related code is scattered across `pkg/client` and `pkg/resizer`, it's somewhat difficult to maintain and hard to add unit tests.

However this is not a blocker, so I will clean the

[2019-03-06 14:13] pohly commented on #21
Indeed, the fix doesn't work because it couldn't undo the merging of PR #17 . The check isn't prepared for the situation we have now (old commits which touch 'release-tools'). The fastest solution would be to rewrite history. Not nice, but simpler than trying to change the check.

I've prepared  a new master branch here: https://github.com/pohly/external-resizer/tree/master-clean

@msau42 if you a

[2019-03-06 15:09] gnufied commented on #21
Third is a problem for all projects across k8s I guess. It is always tricky when project maintainers submit a PR.

Who has force push access to this repository?  @msau42 do you?

[2019-03-06 15:26] pohly commented on #21
These command should do it:
[code]

[2019-03-06 16:00] gnufied commented on #21
I have been thinking some more about it. Does it make sense to use a content based diff for verifying subtree changes rather than `git log` based one? Something like:

[code]

It does mean all CSI repos *must* have latest version of release-tools.

[2019-03-06 16:29] pohly commented on #21
@msau42 the alternative to a force push is:
* merge https://github.com/kubernetes-csi/csi-release-tools/pull/8
* `git subtree pull` in external-attacher
* create + merge PR in external-attacher

[2019-03-06 17:02] gnufied opened #22 "Problem with volumes that support node only expansion"
It looks like if a CSI volume supports node only expansion and does not have controller EXPAND_VOLUME capability this resize controller will exit.

But problem is - in that case the PV will never be updated and currently node side expansion expeects PV to have correct size before calling node side expansion. Also even if Node side expansion handled updating PV, there would be resistance to updatin

[2019-03-06 17:26] gnufied commented on #21
this is not immediately fixed by linked PR. we still have to probably pull the change.

/reopen

[2019-03-06 17:46] #21 closed

[2019-03-06 18:02] gnufied commented on #22
cc @kubernetes-csi/csi-misc

[2019-03-07 02:44] gnufied opened #24 "Report version information from resizer"

[2019-03-07 06:34] #24 closed

[2019-03-07 07:00] mlmhl commented on #22
+1

I add a `trivialResizer` in the init implement, and its original intention is to solve this problem. I think we can use a `trivialResizer` instead of `CSIResizer` to handle requests of drivers which do not have controller EXPAND_VOLUME capability. The `trivialResizer` should do nothing but mark the volume as file system resize required.

I will fix this if there is no objection.
/assign

[2019-03-07 09:18] jsafrane commented on #22
We're in the same situation as with attacher. Initially, it was solved by `trivialAttacher` in external-attacher that marks all volumes as attached. In reality users did not understand why do they need to run attacher if their driver does not support external attach/detach.

We added a flag into CSIDriver so CSI volume plugin called by A/D controller *knows* that a volume does not support attach/d

[2019-03-07 11:27] mlmhl commented on #22
There is a little different between external resizer  and attacher: Even if a driver only supports node expansion, the external resizer still needs to update PVC's conditions and PV's capacity, and kubelet relies on this behavior. cc @gnufied

[2019-03-07 16:46] gnufied commented on #22
@jsafrane @mlmhl yeah so if we did add such a flag then perhaps we can update existing in-tree controller to update PV if we know volume does not support resizing.  But lets finalize on this idea in next release when we move to beta. I think for this release having a trivial resizer seems to be fine.

[2019-03-08 07:19] mlmhl commented on #22
+1

I agree that we use a trivial resizer for now, as the change of in-tree controller is not a simple work, we can solve it in next release.

[2019-03-08 12:09] jsafrane commented on #22
Ack

[2019-03-08 18:08] gnufied commented on #10
Fixed via https://github.com/kubernetes/kubernetes/pull/74863

[2019-03-08 18:08] #10 closed

[2019-03-19 17:44] gnufied commented on #14
This was mostly done by integration bot.

[2019-03-19 17:44] #14 closed

[2019-03-22 00:42] msau42 commented on #14
I only see the canary image in quay.  Were you going to tag a 0.1.0 or something?

[2019-03-22 14:27] gnufied commented on #22
Fixed by #26

[2019-03-22 14:27] #22 closed

[2019-04-11 15:48] gnufied opened #34 "Add CSI e2e tests with GCE and EBS drivers"

[2019-04-11 15:56] msau42 commented on #34
Ideally it should use the test framework so any csi plugin can test it

[2019-04-23 03:57] miaowing opened #36 "How to skip file system resize required"
When I update a pvc size, it will have a FileSystemResizePending status, but I don't need to resize file system, how to skip it.

![image](https://user-images.githubusercontent.com/12780562/56552758-d435d480-65be-11e9-9de5-19f133c34683.png)

csi-resizer log:

![image](https://user-images.githubusercontent.com/12780562/56552539-37733700-65be-11e9-9ef8-d260d81b7cea.png)

driver:

[code]

identity:

[2019-04-23 05:08] #36 closed

[2019-04-24 22:02] gnufied opened #37 "Capture metrics for external volume resizing"

[2019-04-25 20:14] gnufied opened #38 "Handle per-pvc secrets for resizing"
Similar to attach/detach operations we should be able to handle per-pvc secrets for resizing. This will also require an API change in `CSIVolumeSource` and corresponding change in external-provisioner to ensure that those secrets are set correctly in `CSIVolumeSource`.

[2019-04-30 03:38] mlmhl commented on #4
/remove-lifecycle stale

[2019-05-03 19:04] gnufied opened #41 "Perform resizing of migrated PVCs"

[2019-05-03 19:12] leakingtapan commented on #41
/assign

[2019-05-03 19:12] leakingtapan commented on #41
Ref: https://github.com/kubernetes-csi/external-resizer/pull/39

[2019-06-06 15:14] #5 closed

[2019-06-09 12:49] mlmhl commented on #3
/close

[2019-06-09 12:49] #3 closed

[2019-06-20 18:52] #38 closed

[2019-06-25 22:41] #41 closed

[2019-07-17 08:45] zuzzas opened #44 "OFFLINE resizing woes"
There seems to be a problem with operations ordering in OFFLINE resize situation.
First of all, I indicate supported plugin resize capabilities with `PluginCapability_VolumeExpansion_OFFLINE` and implement a ControllerExpandVolume method.

#### First naïve solution
Just hope that external-resizer somehow understands that state of a given PVC (Volume) and calls resize only when the Volume is Unpubl

[2019-07-24 19:24] gnufied commented on #44
I do not like holding `ControllerPublishVolume` until resize completes because that creates hard to recover failures if resizing fails and it keeps failing.  Can you explain bit more - what happens if `ControllerPublishVolume` and `ControllerExpandVolume` do get called concurrently?

It is possible however to stop `ControllerExpandVolume` from being called if plugin does not have `ONLINE` capabili

[2019-07-24 19:32] zuzzas commented on #44
That haven't been happening, and, I admit, haven't tested this scenario. The issue is not in the concurrent calls, but with any call of `ControllerExpandVolume` when the Volume is published.

[2019-07-24 19:36] gnufied commented on #44
For volume types that don't implement attach/detach - it might be more tricky to decide if they are published to a node or not.

[2019-07-24 19:39] zuzzas commented on #44
But is should be possible to detect attachment from Volume objects? Or have I not yet adopted the CSI way of thinking? :)

[2019-07-24 19:41] gnufied commented on #44
okay, it may be fixable but part of me also thinks that the CSI spec should be relaxed to use MAY rather than MUST (I still have not made up my mind!) word for this part.

In general though - why is this a problem if `ControllerExpandVolume` does get called when volume is already published? Is this a fencing issue? Can storage provider which only supports `OFFLINE` expansion not detect such a stat

[2019-07-24 19:43] gnufied commented on #44
I am not saying driver should do any such detection but we can implement this check in external-resizer. But it is somewhat prone to race conditions.

[2019-07-24 20:00] zuzzas commented on #44
I've successfully implemented this logic. It does return error. Unfortunately, if I delete Pod, and Volume gets Unpublished, Kubernetes almost instantaneously schedules it back. `external-resizer`  currently cannot insert `ControllerExpandVolume` call when Volume is Unpublised and Pod is not existent.

[2019-07-27 18:37] #12 closed

[2019-07-30 02:00] mlmhl commented on #4
/remove-lifecycle stale

[2019-07-30 02:02] mlmhl commented on #4
@gnufied As the PR #6 is already merged, could we close this issue?

[2019-07-30 15:07] #4 closed

[2019-08-02 22:01] #2 closed

[2019-08-06 13:49] bertinatto commented on #37
/remove-lifecycle stale.

[2019-08-07 11:12] bertinatto commented on #37
What metrics should the external-resizer emit?

If I read correctly, in-tree CSI resizing already emits metrics for duration, errors, statuses etc.

I suppose the duration there isn't exactly accurate (because the resizing is performed externally), is that correct? If so, would recording the duration of the operation enough here?

[2019-08-07 14:29] msau42 commented on #37
@yuxiangqian is planning to add a metrics library to csi-lib-utils that all the sidecars can use

[2019-08-07 14:31] msau42 commented on #37
The main benefit of sidecar metrics is to get per operation latency and error metrics which cannot be done in the intree controller for CSI plugins

[2019-08-07 14:34] gnufied commented on #37
@bertinatto we do not emit resizing metrics for CSI drivers from in-tree code.  Where did you see the metric being emitted? The in-tree controller simply hands over the control to the external controller.

@msau42 Will the library capture just operation metrics or total latecy metrics?

[2019-08-09 20:23] msau42 commented on #34
/remove-lifecycle rotten

[2019-08-13 01:08] wongma7 opened #46 "Block volumes are marked with FileSystemResizeRequired"
The in-tree controller, after finishing Controller expand, checks not only if the plugin reports that FS resize is required but also if the volume is mode FS or not: https://github.com/kubernetes/kubernetes/blob/1dac5fd14a54ac4972339dbe55f9f03688fd7542/pkg/volume/util/operationexecutor/operation_generator.go#L1578 before it marks volumes FileSystemResizeRequired.

The external-resizer should do th

[2019-08-13 01:11] msau42 commented on #46
I think @gnufied was also looking into this

[2019-08-13 01:38] wongma7 commented on #46
ok, looks like a 1-liner to me so let's discuss in https://github.com/kubernetes-csi/external-resizer/pull/47

[2019-08-13 03:30] zhucan opened #48 "Successful resize, but the value of the pvc capacity in the ectd not update"
kubernets version : v1.15.0
external-resizer:  v0.2.0

when resizing the pvc, the  capacity of the pvc has been successful expanded, the value of the  pv capacity int the etcd update, but the value of the  pvc capacity in the ectd not update

[2019-09-06 14:55] msau42 commented on #37
/lifecycle frozen

[2019-09-06 16:07] yuxiangqian commented on #37
@gnufied @msau42 I have not got a chance to work on the lib yet. I will come back to that after the snapshot to beta project is done. But the plan is to have it in [csi-lib-utils](https://github.com/kubernetes-csi/csi-lib-utils). My very initial thought is to have common utilities, like metric registration with prometheus, timestamp cache struct etc. defined for sharing. The real reporting would s

[2019-09-10 12:07] #48 closed

[2019-09-11 17:25] gnufied commented on #44
Is this because pod is backed by a deployment etc? Shouldn't you really scale down deployment to 0, so as no replacement pod is created?

Even if we implemented checks in external-resizer to not call expansion if volume is published (possible after https://github.com/container-storage-interface/spec/pull/374), this would still mean  that in-tree controller-manager could controllerpublish the volum

[2019-09-11 20:36] zuzzas commented on #44
It is. And I do just that, but it seems hacky, doesn't it? How does the in-tree offline resizing works. I've never had a problem with those, I've deleted a Pod, and some machinery (pardon my ignorance) applied the resize procedure without any problems whatsover.

Although, perhaps it instantaneously resized the volume **in** the cloud provider, and only executed `resize2fs` on the node once the Po

[2019-09-11 20:39] gnufied commented on #44
It works same for in-tree offline expansion.

[2019-09-11 20:45] zuzzas commented on #44
Well, then I've got nothing. Perhaps I've imagined a problem, and it's possible to solve my woes through other means. Feel free to close the issue, I can't find any more arguments. :)

[2019-09-17 20:20] gnufied opened #54 "Ensure that version override in prow is removed once 1.16 release is cut"
We need to ensure that once 1.16 release is cut, k8s version override in `.prow.sh` gets removed - https://github.com/kubernetes-csi/external-resizer/pull/53

[2019-09-17 20:20] gnufied commented on #54
/assign

[2019-09-25 18:33] xing-yang opened #56 "Hostpath PV is resized but PVC is not when resizing offline"
When trying to expand a volume which is offline using the CSI hostpath driver, PV is expanded but PVC is not.  There is probably a bug with CSI hostpath driver implementation, but external-resizer should do the check and prevent this from happening.

How to reproduce:

1. I deployed csi-driver-host-path for k8s 1.14 using the script in the following location.
https://github.com/kubernetes-csi/csi-

[2019-09-25 18:39] xing-yang commented on #56
I don't see PluginCapability_VolumeExpansion_ONLINE or PluginCapability_VolumeExpansion_ONLINE returned by the CSI hostpath driver: https://github.com/kubernetes-csi/csi-driver-host-path/blob/master/pkg/hostpath/identityserver.go#L60.  Does the resize controller check this capability?

[2019-09-30 18:08] zuzzas commented on #44
I have not thought about ensuring Volume resize at ControllerPublishVolume stage. That will happen before attach the volume to node. I feel so dumb...
Will report once I've successfully (hopefully) implement it this week.

[2019-10-04 00:49] msau42 commented on #56
/assign @gnufied

[2019-10-26 02:23] xing-yang opened #62 "VolumeExpansion ONLINE/OFFLINE capability is not checked"
When a CSI driver reports PluginCapability_VolumeExpansion_OFFLINE only, external-resizer still calls ControllerExpandVolume when the PVC is used by a Pod.

Instead, the extenal-resizer should check VolumeExpansion plugin capability and only invoke ControllerExpandVolume when PluginCapability_VolumeExpansion_ONLINE is supported by the CSI driver.

[2019-11-01 12:10] zuzzas commented on #44
Well, it worked. Don't have anything to add, should've come to this solution much earlier.

[2019-11-01 12:10] #44 closed

[2019-11-04 07:18] zhucan commented on #56
+1

[2019-11-04 14:46] gnufied commented on #56
The external resize controller does not currently verify offline/online capabilities. We could but then we will also have to maintain a pod informer in external-resizer to check if volume is in-use or not.

But this bug seems to be unrelated to that - it looks like @xing-yang you are expecting to expand a offline PVC and then without creating a Pod, you expect the PVC to be fully expanded? Offline

[2019-11-04 14:58] xing-yang commented on #56
@gnufied I'm expecting PV should not be expanded at all because host path csi driver does not support offline expansion.

I think resizer should be checking if pvc is used by a pod.  I opened another issue for that: https://github.com/kubernetes-csi/external-resizer/issues/62.   This current issue is to make sure host path driver itself is implemented correctly.

[2019-11-04 14:58] xing-yang commented on #62
assign @gnufied

[2019-11-13 19:48] msau42 opened #63 "CVE-2019-11255: CSI resizing feature can result in unauthorized volume mutation"
Overall tracking issue: kubernetes/kubernetes#85233

Fixed in:
0.3.0: https://github.com/kubernetes-csi/external-resizer/pull/57

[2019-11-14 19:11] msau42 commented on #63
/close

[2019-11-14 19:11] #63 closed

[2019-11-15 03:35] zhucan opened #64 "It's better to set default value for the socket in the external-resizer yaml？"
![image](https://user-images.githubusercontent.com/13997135/68915208-f3cf5d00-079b-11ea-90cb-8f61ec0fba1d.png)

@gnufied

[2019-12-09 22:46] msau42 opened #66 "Fix pull jobs in this repo"
We had overriden https://github.com/kubernetes-csi/external-resizer/blob/master/.prow.sh to temporarily deal with failing tests. We should undo those changes and figure out how to get resizer jobs configured correctly.

We also need to update release-tools

[2019-12-09 22:46] msau42 commented on #66
/assign @gnufied

[2020-01-02 23:22] msau42 commented on #66
Fixed by #68

[2020-01-02 23:22] msau42 commented on #66
/close

[2020-01-02 23:22] #66 closed

[2020-01-02 23:23] msau42 commented on #54
Fixed by #68

[2020-01-02 23:23] msau42 commented on #54
/close

[2020-01-02 23:23] #54 closed

[2020-01-03 00:03] #37 closed

[2020-01-06 19:59] #46 closed

[2020-01-06 22:55] gnufied commented on #34
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-02-02 21:09] xing-yang commented on #62
/remove-lifecycle stale

[2020-02-02 21:10] xing-yang commented on #56
/remove-lifecycle stale

[2020-02-04 16:39] gnufied commented on #62
/assign @gnufied

[2020-02-04 16:46] xing-yang commented on #62
/assign @gnufied

[2020-02-04 16:48] gnufied commented on #62
This issue is still in our radar. The reason, we have been hesitant in fixing this is because - any checks we perform in external-resizer to determine if volume is in-use before making controller-expansion call, will be racy.

We can either perform a best-case check in external-resizer but since that will be still  subject to races, the plugins must be able to handle such expansion calls and retur

[2020-02-04 17:02] xing-yang commented on #62
That sounds good.  If external-resizer can check if volume is in-use before calling ControllerExpandVolume, that should cover most cases.  In the corner case if the call still reaches the plugin, the plugin will return an error.

[2020-02-05 06:02] Madhu-1 opened #72 "Arg "--csiTimeout" is not consistent with other sidecars"
other sidecars are using `timeout` as argument example csi-provisioner https://github.com/kubernetes-csi/external-provisioner/blob/master/cmd/csi-provisioner/csi-provisioner.go#L64

[2020-02-05 06:03] Madhu-1 commented on #72
CC @gnufied @msau42

[2020-02-05 11:59] Madhu-1 commented on #72
@jsafrane we may have to consider the your comment https://github.com/kubernetes-csi/external-provisioner/pull/402#discussion_r375213182 here also based on  the release plan

[2020-02-05 12:02] jsafrane commented on #72
Yes, it's the same problem. If there is an user that has yaml file (helm chart, operator, ...) for a CSI driver, this yaml file should work after a minor update of any CSI sidecar (1.5 -> 1.6). We can add new options and mark the old ones as deprecated, but the old ones must still work.

[2020-02-05 12:04] jsafrane commented on #72
Btw, thanks for keeping the cmdline options consistent!

[2020-04-03 16:27] gnufied commented on #62
Summary of discussion on April 2nd 2020:

We discussed the option of doing a best case check but agreed that - it could worsen the problem where a driver author might falsely (after limited testing) assume that `ControllerExpandVolume` will not be called if volume is in-use.  In the end - driver does need to handle when this happens and return following error as per CSI spec:

[code]

Elsewhere in

[2020-04-03 16:28] gnufied commented on #62
Another thing is - even checking resizing condition while doing mount or attach suffers from race conditions that are mentioned in - https://github.com/kubernetes-csi/external-resizer/issues/62#issuecomment-582004580  so aren't entirely fullproof.

[2020-04-13 05:33] #64 closed

[2020-05-03 02:18] xing-yang commented on #56
/remove-lifecycle stale

[2020-05-12 04:42] Madhu-1 commented on #72
/remove-lifecycle stale

[2020-05-14 19:51] gnufied opened #81 "Respect volume-in-use error when calling ControllerExpand volume"
if a CSI driver throws volume-in-use error when calling ControllerExpandVolume, the external-resizer should not retry expansion until it can verify that volume is not in use. This will be a best effort check and only be performed after a plugin has thrown `Volume in use` error. This is different from enforcing online and offline plugin capabilities.

cc https://github.com/kubernetes-csi/external-r

[2020-05-14 19:52] gnufied commented on #81
cc @xing-yang @msau42

/assign

[2020-06-10 23:08] #81 closed

[2020-06-19 18:23] gnufied opened #88 "Make it optional to watch for pods for volume-in-use errors"
While speaking with @msau42 about recently introduced volume-in-use mechanism, I kind of agreed that watching for all pods in a cluster is expensive and this feature could be an opt-in for certain deployments.

cc @xing-yang

[2020-06-19 18:23] gnufied commented on #88
/assign

[2020-06-24 20:03] saikat-royc commented on #88
/assign

[2020-06-29 21:54] #88 closed

[2020-08-02 00:59] xing-yang commented on #62
This is fixed.

[2020-08-02 00:59] #62 closed

[2020-08-07 15:12] divyenpatel opened #95 "stop retry volume expansion when driver returns codes.Unimplemented"
Even when the CSI driver does not support volume expansion and returns Unimplemented error code, resizer does not stop expanding volume and retry calling controller to resize.

Refer: https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/301#discussion_r465433246

[2020-08-07 15:12] divyenpatel commented on #95
/kind bug

[2020-09-10 02:12] msau42 commented on #72
This is fixed by https://github.com/kubernetes-csi/external-resizer/pull/82
/close

[2020-09-10 02:12] #72 closed

[2020-09-22 23:49] shalini-b opened #105 "Resizer sidecar doesn't consistently increase the time interval during exponential backoff on errors"
csi-resizer v0.5 retries ControllerExpandVolume after random intervals of time instead of an increasing interval of time during exponential backoff on an error.
Refer to the event logs I got when I tried to perform online expansion when the CSI driver supports offline expansion only - https://gist.github.com/shalini-b/e4c8256cd46eb096e0efc3ae322ba644. The time logged for each event is not consiste

[2020-09-30 03:48] #56 closed

[2020-10-07 22:38] RaunakShah opened #113 "Resizer may run without initializing"
`resizeController.Run()` waits for the informer caches to sync before spawning goroutines for `syncPVCs` - https://github.com/kubernetes-csi/external-resizer/blob/master/pkg/controller/controller.go#L250

If the cache syncing errors out, the error message is simply logged and resizer container never restarts.

[code]

[2020-10-19 16:26] jsrz opened #119 "Multi-arch image support"
Hello,

Would like to put in a request for support of multi-arch images (Arm). Current external-resizer images only support x86.

[2020-10-19 17:39] jsrz commented on #119
Closing. My issue was that I'm using rook, and it's default images have not moved to the gcr.io hosted images (which support multi-arch).

[2020-10-19 17:39] #119 closed

[2020-11-12 11:54] Kartik494 opened #124 "Not able to Docker Pull Image"
While going through README , the container image specify in [compatible](https://github.com/kubernetes-csi/external-resizer#compatibility) section is not working in my enviorment  , when i docker pull this image, i got error as

`docker pull k8s.gcr.io/sig-storage/csi-provisioner
Using default tag: latest
Error response from daemon: manifest for k8s.gcr.io/sig-storage/csi-provisioner:latest not fo

[2020-11-12 12:00] Kartik494 commented on #124
And i have one more query i think in [usage](https://github.com/kubernetes-csi/external-resizer#usage) section this command should be

`kubectl create -f deploy/kubernetes/deployment.yaml`

Rather then original command for deploying csi-resizer , my kubernetes enviorment is

`Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce6182

[2020-11-26 05:06] Kartik494 opened #127 "Update Klog to v2"
External-resizer is still using klog v1 , Other sidecars is using klog v2 so this should be sync with rest Sidecar , i think that should be upgraded to klog v2

[2020-11-26 05:06] Kartik494 commented on #127
/assign

[2020-12-03 18:33] #127 closed

[2020-12-11 13:37] emiliodangelo opened #130 "external-resizer crashing in azuredisk-csi-driver and azurefile-csi-driver"
From https://github.com/kubernetes-sigs/azurefile-csi-driver/issues/495

**What happened**:
After installing azurefile-csi-driver and azuredisk-csi-driver in a Kubernetes cluster, *csi-resizer* container, inside *csi-azurefile-controller* and *csi-azuredisk-controller* pods, is crashing every 1 or 2 minutes with the following message:

*csi-resizer* log:
[code]

**What you expected to happen**:
Th

[2020-12-14 07:41] stoneshi-yunify opened #131 "How to resize a volume with filesystem from cloning?"
When cloning a volume from an existing PVC, it's allowed to specify a bigger size for the new PVC, which means clone + resize in one step.

If they're both block volumes, it's possible to do the resize work at the end of CSI call `CreateVolume`.  This is okay.

However, when they're filesystem volumes (volumeMode=Filesystem), I can still do the resize work at the end of CSI call `CreateVolume`, bu

[2020-12-14 08:22] stoneshi-yunify commented on #131
Of course I can force user to specify the same size with old PVC when cloning, and tell them they must do the clone and resize in two separate steps, so this issue will be avoided. But since it's allowed to specify a bigger size when cloning, I wonder if `external-resizer` could support that.

Thanks.

[2020-12-14 12:33] Madhu-1 commented on #131
Currently, its discussed at https://github.com/kubernetes-csi/external-provisioner/issues/485

[2020-12-16 04:56] hoyho opened #132 "resize failed and can't recover due to pvc rejection "Forbidden: field can not be less than previous value ""
How to reproduce:
1. create a pvc with size 1Gi
2. resize to 10Pi, kubectl edit pvc xxx and update spec.resources.requests.storage to 10Pi
3.  assume the new request size 10Pi is too large， csi-driver and backend storage refuse to update and response an error to call of ControllerExpandVolume
![image](https://user-images.githubusercontent.com/8370967/102306089-6234af00-3f9c-11eb-9309-0f1932e92ee2.

[2020-12-28 21:06] ripulpatel commented on #132
cc: @gnufied
I think there should be a way to recover PVC when any kind of unintended failures or bugs due to storage sub-system, else PVC will forever be in the state pv resizing.

[2021-01-04 17:32] #95 closed

[2021-02-11 00:45] mattcary opened #137 "Cut release with latest translation-lib"
Should happen before 1.21 release.

https://github.com/kubernetes/kubernetes/pull/97823 has the changes we want.

/cc @Jiawei0227

[2021-02-11 15:34] Kartik494 commented on #124
/close

[2021-02-11 15:35] #124 closed

[2021-02-20 02:51] msau42 commented on #105
/reopen
/remove-lifecycle rotten

@gnufied is this still an issue?

[2021-03-07 00:31] #113 closed

[2021-03-22 15:36] pohly opened #142 "distributed resizing"
For local storage (e.g. LVM disks) it makes sense to support a deployment model where the driver only runs locally on nodes together with sidecars. This is already support for provisioning (kubernetes-csi/external-provisioner#524, https://github.com/kubernetes-csi/external-provisioner#deployment-on-each-node).

[2021-03-22 15:36] pohly commented on #142
In the resizer, the sidecar probably needs to check whether the volume is local before invoking the CSI driver. This can be achieved via the existing topology field. https://github.com/kubernetes-csi/external-provisioner/issues/592 might help to reduce traffic by configuring the informer so that it filters by label and thus only receives PVs that are of interest. See https://github.com/kubernetes-

[2021-03-29 02:48] hoyho commented on #132
/remove-lifecycle stale

[2021-04-22 06:38] stoneshi-yunify commented on #132
Any plan to fix this issue?

[2021-04-27 16:09] TeweiLuo opened #147 "Use new csi-translation-lib version"
Need to use >=v0.21.0 in order to handle v1 topology key.

[2021-04-27 16:56] msau42 commented on #147
@Jiawei0227 can you help with this?

[2021-04-27 21:40] Jiawei0227 commented on #147
https://github.com/kubernetes-csi/external-resizer/pull/145

This should fix the issue.
And actually csi-translation-lib is already in 0.21.0, it is just using an alpha release tag but should have the fix we need. Anyways, let's wait for the PR above get merged.

[2021-05-07 18:14] ialidzhikov commented on #147
#145 is now merged and released. @TeweiLuo , can we now close this issue?

[2021-05-07 18:17] #147 closed

[2021-05-10 15:15] #130 closed

[2021-05-12 02:05] msau42 commented on #137
Done with https://github.com/kubernetes-csi/external-resizer/pull/139
/close

[2021-05-12 02:05] #137 closed

[2021-05-13 14:27] #131 closed

[2021-05-25 07:05] meghnasiingh opened #154 "csi-resizer:v1.0.0 image having VA issues"
following is the VA issues in csi-resizer:v1.0.0 image

Vulnerable Packages Found
Vulnerability ID Policy Status Affected Packages How to Resolve
DLA-2542-1 Active tzdata Upgrade tzdata to >= 2021a-0+deb9u1
DLA-2509-1 Active tzdata Upgrade tzdata to >= 2021a-0+deb9u1

[2021-06-21 14:08] gnufied commented on #132
yes - https://github.com/kubernetes/enhancements/issues/1790

[2021-07-20 04:32] #105 closed

[2021-08-02 08:15] pohly commented on #142
/remove-lifecycle rotten
/lifecycle frozen

[2021-08-18 04:28] takuhiro opened #170 "csi-resizer logs a warning every time a new PVC is created"
csi-resizer came to output the following warning message every time a new PVC is created from v1.2.0.

[code]

Until v1.1.0, it had output the following info-level message when a new PVC is created.

[code]

This is the side effect of [this commit](https://github.com/kubernetes-csi/external-resizer/commit/f238af539733149b0ec7e88b04c9c978f748ed1f).
The case had been handled by [this block](https://

[2021-08-18 06:28] humblec opened #171 "Not able to pull v1.3.0 release image"
[code]

not sure, its just a sync delay though

cc @gnufied

[2021-08-18 06:31] humblec commented on #170
@takuhiro agree on the possibilities or analysis, would you like to send a PR for addressing the same?

[2021-08-18 06:43] takuhiro commented on #170
@humblec Thank you for answering. Yes, I will send a PR.

[2021-08-18 13:27] gnufied commented on #171
While I cut a release yesterday, I am yet to promote the images. I am doing this now.

[2021-08-18 15:15] humblec commented on #171
@gnufied thanks !

[2021-08-18 15:16] humblec commented on #171
as the pull works now, I am closing this issue.. thanks !

[code]

[2021-08-18 15:16] #171 closed

[2021-08-26 02:34] darkautism opened #173 "Does NodeExpandVolume event only send to one node?"
Only one node will receive NodeExpandVolume if you resize a rwx volume which been mount by multi node.

[2021-09-30 09:46] #170 closed

[2021-10-14 23:58] PhanLe1010 opened #175 "PVC used by a job doesn't get resize after the pod of the job completed"
**Summary:**
We have a setup in which the `external-resizer` is used with the storage provider that only supports offline expansion (e.g., only supports `PluginCapability_VolumeExpansion_OFFLINE`).  We deployed a job that uses a PVC provisioned by the storage provider. While the job pod is running, we resize the PVC by modifying `spec.resources.requests.storage`. The PVC cannot be resized while th

[2021-10-19 18:08] gnufied commented on #175
Hey sorry I was on PTO last week. The proposal looks good. Please open a PR.

[2021-10-20 00:17] PhanLe1010 commented on #175
@gnufied
[PR](https://github.com/kubernetes-csi/external-resizer/pull/178) is opened. Please allow the the bot to test the PR

Do I also need to create back-port PR into `release-1.2` and `release-1.3`?

[2021-11-03 19:24] #175 closed

[2021-11-16 14:23] JPRbrs opened #179 "nfs-resizer container crashes with CSI driver neither supports controller resize nor node resize"
Hello,

I am using nfs-resizer as part of  manila-csi (1.22.0) and csi-nfs-driver (mcr.microsoft.com/k8s/csi/nfs-csi:latest) configuration.
manila-csi-openstack-manila-csi-controllerplugin-0  pod is crashing because of the following error being thrown by nfs-resizer:

`I1116 14:06:34.639310       1 main.go:90] Version : v1.2.0
I1116 14:06:34.645487       1 common.go:111] Probing CSI driver for rea

[2021-11-18 08:47] JPRbrs commented on #179
It looks like I wasn't really using manila-csi-plugin version 1.22. Bumping it to that version prevented nfs-resizing from crashing.

For the curious, I think it was due to the way I'm deploying the chart along csi-nfs-driver. They are both deployed as part of the same parent chart, and the fact that the tag for manila-csi-plugin tag is taken from the .Chart.AppVersion messes up with it

[2021-11-18 08:47] #179 closed

[2021-11-18 15:15] #132 closed

[2022-01-26 16:04] gnufied commented on #173
This is a known issue which I have tried to fix in past via - https://github.com/kubernetes/kubernetes/pull/92932

It requires us to track PVC size in actual state/desired state rather than always reading from api-server.

[2022-02-22 02:35] travisghansen commented on #142
How much effort is required for this?

[2022-02-22 08:59] pohly commented on #142
I suspect it'll be easier than distributed provisioning because the sidecar can already determine from the PV whether it is responsible for the operation. See https://github.com/kubernetes-csi/external-snapshotter/pull/585 for the corresponding feature in the snapshotter.

[2022-02-25 16:42] #173 closed

[2022-03-01 17:35] travisghansen commented on #142
A fair point.

My sense is that controllers generally have no knowledge or understanding of how the device is being used and is just expanding raw capacity while node operations (when necessary) are meant to deal with the specifics of ensuring the volume (generally a block device if node resizing is involved) capacity is readily accessible to the workload (generally resizing the fs as necessary).

[2022-03-01 18:17] gnufied commented on #142
The spec does not say anything about node+controller deployment on same nodes. I am still unsure, what problems distributed resizing will solve that is not already solved by calling `NodeExpandVolume` on the node.

[2022-03-01 19:14] travisghansen commented on #142
Isn't that figure 2 and 3 here?: https://github.com/container-storage-interface/spec/blob/master/spec.md

Again, regardless of that, IMO the provisioner and snapshotter both support node+controller deployments. The fact that k8s has various clients/code-bases to invoke the grpc methods is an implementation details. If k8s supports node+controller it should support it fully and not selectively deci

[2022-03-02 08:52] pohly commented on #142
@gnufied: if the CSI driver only runs on the nodes, where would you run external-resizer?

If you only run one instance of it per cluster, then it has no CSI driver instance that it can call. Or is the expectation that a CSI driver then has an implementation that runs on the node and another implementation that runs alongside the external-resizer, with the second implementation not doing any actua

[2022-03-02 14:55] gnufied commented on #142
Currently - if a CSI driver supports node-only volume expansion, the external-resizer does provide a no-op trivial resizer which is used for updating PV (kubelet can't update PVs) and rest of the volume expansion happens on kubelet via `NodeExpandVolume`.

[2022-03-03 10:58] pohly commented on #142
I agree that this seems to be sufficient for node-local storage. Is this documented sufficiently so that CSI driver developers can find out about it?

[2022-03-03 16:30] gnufied commented on #142
I get the point about deploying controller side of the plugin on the node and not having any explicit control-plane associated with CSI driver. I need to think some more about it. I have scheduled this item for discussion on Monday's CSI implementation meeting. If you can manage, please join so as we can talk about it.

[2022-03-03 19:32] pohly commented on #142
My understanding is that the controller side will only be skipped if a CSI driver developer explicitly asks for it by deploying the CSI driver in a suitable way. That seems okay to me. How that works specifically I don't know (hence my question about documentation).

[2022-03-03 21:11] travisghansen commented on #142
OK thanks for pointing out the doc!

IMO this furthers my points about the spec. Stating the perhaps obvious, the sidecar (to my knowledge) must be deployed as..a sidecar. It cannot be deployed standalone without the/a controller deployed along with it. That deployment story does not match any of the architectures from the spec. It's a sort of mashing together of 1+2 and/or 1+3 where 'node' hosts

[2022-03-10 11:24] arahamad opened #197 "only online volume expansion not supported"
**What I am doing in my csi driver:**

Step 1- Added following Capabilities in the identity server `assuming` that only online expansion will be supported

[code]

Step 2- Following are the other capabilities which added in the driver to support volume operations including expansion
[code]

Step 3- Created PVC with 10 GB and then trying to expand size from 10 to 20 GB by editing PVC

**Result:** P

[2022-03-29 19:06] PhanLe1010 commented on #175
@gnufied

I see that the fix is tagged for v1.4.0 release. However, v1.4.0 version requires CSI SPEC 1.5.0. Not all storage providers are using the new CSI SPEC 1.5.0. On the other hand, the bug also exists in external-resizer v1.2.0 and v1.3.0. Therefore, can we backport the fix to release-1.2, release-1.3 and release new versions v1.2.1, v1.3.1?

[2022-03-29 20:13] gnufied commented on #175
The CSI spec is backward compatible and I don't recall we have made any core changes in features that affect volume expansion in CSI spec for awhile. So, a driver which does not implement 1.5.0 should still be able to run with external-resizer v1.4.0. I do not think there will be any issues or such.

We could backport the fix and open it in older releases too if that makes it easier.

[2022-03-29 23:43] PhanLe1010 commented on #175
It would be great if we can backport the fix to release-1.2, release-1.3 and release new versions v1.2.1, v1.3.1.

In our case, we are using external-resizer v1.2.0 with CSI Spec v1.2.0. Yeah, I understand that it could work with external-resizer v1.4.0 that uses CSI Spec 1.5.0, but it could also raise some unforeseen bugs that we are not fully aware of yet. I remembered we have some accident with

[2022-03-30 00:02] gnufied commented on #175
Feel free to create backport request. I will make a release.

[2022-03-30 00:03] PhanLe1010 commented on #175
Thanks @gnufied
How do I create backport request?

[2022-03-30 01:55] gnufied commented on #175
You will find release branches for those versions and you can create PRs against those branches.

[2022-03-30 22:25] PhanLe1010 commented on #175
@gnufied Created the PRs. Please take a look. Thank you

[2022-04-04 22:35] PhanLe1010 commented on #175
@gnufied Now that the backport PRs are merged, do you have ETA for when the patch release v1.2.1 and v1.3.1 are released?

[2022-06-17 06:40] stijndehaes opened #211 "Out of memory when running a lot of pods"
In environments where we are running a lot of pods we see the external resizer going out of memory.
In these environments we typically only run 10's of pvc's, but 1000's of pods.
I believe the [pod informer](https://github.com/kubernetes-csi/external-resizer/blob/a76b4d2afe86d8d273341592e8ad4f6636309ae5/pkg/controller/controller.go#L121) might be the culprit.
Doesn't starting an informer launch a

[2022-06-17 11:15] gnufied commented on #211
The whole `handleInUse` thing is behind a flag and only applicable for use cases where a driver needs external-resizer to enforce offline only expansion strongly. If it is enabled in EKS with external-resizer, then that seems like a problem. cc @wongma7

[2022-06-17 11:53] stijndehaes commented on #211
@gnufied you are right, resizing can be done online on AWS i think. Good catch

[2022-07-07 09:57] garenchan opened #212 "Only one node extends the volume"
I am now using [SeaweedFS ](https://github.com/chrislusf/seaweedfs)with [seaweedfs-csi-driver](https://github.com/seaweedfs/seaweedfs-csi-driver) on K8S.

I created a persistent volume claim `seaweedfs-dynamic` with storage class `seaweedfs-storage`.

[code]

And I created 2 pods to use the pvc `seaweedfs-dynamic`, and these 2 pods were scheduled on 2 nodes.

[code]

Finally, I tried to change the

[2022-07-07 10:12] gnufied commented on #212
If you upgrade to v1.24 version of k8s, this behaviour should be fixed and expansion should be called on all nodes. See - https://github.com/kubernetes/kubernetes/pull/108693

[2022-07-07 10:12] #212 closed

[2022-07-22 06:16] mowangdk opened #213 "Use protobuf(instead of json) in apiserver request"
https://github.com/kubernetes-csi/external-resizer/blob/a76b4d2afe86d8d273341592e8ad4f6636309ae5/cmd/csi-resizer/main.go#L121

external-resizer has list method in localcache resync(default every 10min). Is it possible to use the protobuf protocol to reduce the pressure on the apiserver?

[2022-08-01 03:42] humblec commented on #213
Cc @gnufied

[2022-08-05 00:56] PhanLe1010 commented on #175
ping @gnufied

[2022-08-07 13:33] #197 closed

[2022-08-23 12:45] stijndehaes commented on #211
I will close this ticket as this was fixed in the EBS CSI driver, by setting the argument correctly

[2022-08-23 12:45] #211 closed

[2022-09-21 07:35] karony opened #223 "openebs(LVM model) use csi-resizer to expand pv failed"

[2022-09-21 07:53] karony commented on #223
**Backgroud:**
I expand pv size for a statefulset with 6 pods, but 3 pod pv expand size fail. I make sure I have enough disk.

**log and pod info**
[code]

[code]

I don't know the reason for this error `Error syncing PVC: Mark PVC "di-elk-spsec-hids-data/elasticsearch-data-spsec-hids-data-uat-es-data-4" as file system resize required failed: can't patch status of  PVC di-elk-spsec-hids-data/elast

[2022-09-27 09:57] lijhnihaoa opened #224 "Storage size conversion has bug"
I found that Mi configured in yaml was not converted to bytes when the external-resizer finally called expand. Instead, Mi did not change, and Gi was converted to Mi.

`  resources:
    requests:
      storage: 2Gi
---->
params: {9c4de81c-629c-460f-8981-9c4186fbf293 2048}`

[2022-09-27 09:58] lijhnihaoa commented on #224
When I configure the 88Mi
`vbdev_lvol_resize (lvol=0x3924c00, sz=88, cb_fn=0x420f7a <rpc_bdev_lvol_resize_cb>, cb_arg=0x1c9b780)`

[2022-09-27 10:00] lijhnihaoa commented on #224
版本信息
kubernetes：1.20.15
csi-resizer：1.4

[2022-09-27 10:13] #224 closed

[2022-10-28 07:12] lijhnihaoa opened #225 "pvc does not change after pv expansion"

[2022-10-28 07:13] lijhnihaoa commented on #225
`I1028 10:56:46.042219       1 controller.go:295] Started PVC processing "kube-csi/1369-csi-pvc-1"
I1028 10:56:46.052299       1 connection.go:183] GRPC call: /csi.v1.Controller/ControllerGetCapabilities
I1028 10:56:46.052311       1 connection.go:184] GRPC request: {}
I1028 10:56:46.052452       1 event.go:285] Event(v1.ObjectReference{Kind:"PersistentVolumeClaim", Namespace:"kube-csi", Name:"136

[2022-10-28 07:14] lijhnihaoa commented on #225
`NAMESPACE   NAME             STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS      AGE
kube-csi    1369-csi-pvc-1   Bound    pvc-d40c53c6-5d61-4c01-80d8-0d2b9f60d5f9   128Mi      RWO            spdkcsi-sc-nvme   3h30m
[root@compute1 v1-1369]# kubectl get pv
NAME                                       CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS   CLAI

[2022-10-28 07:17] lijhnihaoa commented on #225
pkg/controller/controller.go
`	err := func() error {
		newSize, fsResizeRequired, err := ctrl.resizeVolume(pvc, pv)
		if err != nil {
			return err
		}

		if fsResizeRequired {
			// Resize volume succeeded and need to resize file system by kubelet, mark it as file system resizing required.
			return ctrl.markPVCAsFSResizeRequired(pvc)
		}
		// Resize volume succeeded and no need to resize file sy

[2022-10-28 11:56] gnufied commented on #225
Can you explain in some detail, what you were doing and what happened and what you were expecting to happen? It is little bit hard to decipher underlying bug from just the error messages.

[2022-10-31 01:57] lijhnihaoa commented on #225
I'm sorry, I looked at the code carefully and found that if NodeExpandVolume is not required, the parameter NodeExpansionRequired needs to be passed to false in order to talk about the size of the pvc synchronously

[2022-11-07 10:56] rajendraindukuri opened #226 "PVC s are not syncing after the PV s are expanded"
Hi,

We are trying to resize the PVC s and we are seeing that PV s are getting resized as expected but the PVC s are not syncing with the new size as expected. This is not happening consistently. Please find the event logs as below:

[code]
Also find the resizer logs as below:
[code]
**More info:** :  Storage calls in our case are asynchronous and sometimes due to some congestion, they might take

[2022-11-09 19:35] gnufied commented on #226
Resize operation is always retried if previous operation times out. It appears that, in some cases after successful resize, the CSI driver is returning "0" as new expanded size and that is why this error is happening.

Can you double check, why driver is returning "0" as new size after expansion?

[2022-11-09 19:37] gnufied commented on #225
Yea that is correct. if no node expansion is required for the volume, CSI driver *must* return `false` as return value and in which case pvc size should be updated completely solely after controller expansion.

Please close the bug, if this worked as expected.

[2022-11-11 15:38] rajendraindukuri commented on #226
Hi @gnufied
Thanks for responding.

I tried checking if the driver is returning "0" as the new expanded size in retries using the controller logs and it is never passing "0" as the new size. I compared the resizer logs corresponding to each request from driver logs but driver is never  passing expanded size as "0". I checked all the requests in the controller logs and observation is same,

I put t

[2022-11-11 15:47] gnufied commented on #226
What is the version of external-resizer? You can send me gzipped logs from both driver and external-resizer at hekumar@redhat.com , if you don't want to post confidential stuff here.

[2022-11-11 21:30] gashof commented on #226
Hi,
The customer experienced the issue at  Dell CSI Driver 2.2 with resizer:v1.4.0 and also at 2.4 with resizer:v1.5.0.  I will send the logs to your email and cc rajendraindukuri that opened this issue.

[2022-11-16 13:49] gnufied commented on #226
Check - https://github.com/dell/csi-unity/blob/main/service/controller.go#L803 , it clear as day that driver is not being compliant with CSI spec.

/close

[2022-11-16 13:49] #226 closed

[2022-11-24 09:18] ibotty opened #237 "Cannot mount resized CephFS-PVC"
I cannot start a new container with the same pvc as a running container.  Its events include the following.
[code]

The PVC had been resized before after running into quota issues.  The new quota is reflect in the running container and the `csi-cephfsplugin-provisioner`s `csi-resizer` signals success.
[code]

The `csi-cephfsplugin`'s `csi-cephfsplugin` on the node does not log anything, unfortunat

[2022-11-24 09:20] ibotty opened #238 "Cannot mount resized CephFS-PVC"
I cannot start a new container with the same pvc as a running container.  Its events include the following.
[code]

The PVC had been resized before after running into quota issues.  The new quota is reflect in the running container and the `csi-cephfsplugin-provisioner`s `csi-resizer` signals success.
[code]

The `csi-cephfsplugin`'s `csi-cephfsplugin` on the node does not log anything, unfortunat

[2022-11-24 09:21] ibotty commented on #237
Sorry for the dupe.  Better bug report is #238 .

[2022-11-24 09:21] #237 closed

[2022-11-24 09:25] Madhu-1 commented on #238
@gnufied can you please help here.